<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
  </head>

  <body>

    <header>
      <div class="container">
        <img src="https://image.ibb.co/kJrT3v/avatar.png" height="128" width="128" align="right">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.name | default: site.github.project_tagline }}</h2>
		<h2>{{ site.description | default; ASD }}</h2>

        <!--<section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>-->
      </div>
    </header>

    <div class="container">
    	<div class="main">
    		<!-- <h2>Tutoriales</h2>
				{% for tutorial in site.categories.tutorials %}
					<a href="{{ tutorial.url }}">{{ tutorial.title }}</a>
				{% endfor %} 				
			<br> -->

    		<h2>Proyectos</h2>
    		{% for project in site.categories.projects %}
				<a href="{{ project.url }}">{{ project.title }}</a><br>

			{% endfor %}	
    		<br>

    		{% for cva in site.categories.cv %}
  				<a href="{{ cva.url }}" style="text-decoration:none"><h2>Sobre Mi</h2></a>
			{% endfor %}
			<br>

			<a href="https://b0necode.blogspot.com" style="text-decoration:none"><h2>Blog</h2></a>			
    	</div>
    	<div class="content">
    		<section id="main_content">
    		        {{ content }}
    	    </section>
    	</div>      
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
